---
layout: default
---

<section class="py-16 px-6 max-w-2xl mx-auto md:flex text-center">
  <div class="md:flex-1 md:mr-4 mb-4 md:mb-0 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Correo electrónico</h3>
    <a class="font-light text-grey-darker" href="mailto:{{ site.data.information.email }}">{{ site.data.information.email }}</a>
  </div>
  
  <div class="md:flex-1 md:mr-4 mb-4 md:mb-0 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Número de teléfono</h3>
    <a class="font-light text-grey-darker" href="tel:{{ site.data.information.phone | remove: ' ' }}">{{ site.data.information.phone }}</a>
  </div>

  <div class="md:flex-1 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Ubicación</h3>
    <p class="font-light">{{ site.data.information.address }}</p>
  </div>
</section>

<section class="px-6 max-w-2xl mx-auto pb-8 mb-8">
  <h2 class="leading-tight text-3xl md:text-4xl mb-4 text-black text-center" data-action="colorize">Escríbenos un correo electrónico</h2>

  <div class="md:flex pt-6">
    <form name="contact" action="/contactanos/gracias/" class="md:flex-1 md:mr-4 clearfix" data-netlify="true">
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field"></label>
      </p>
      <input type="text" class="input" name="name" placeholder="Tu nombre..." required aria-label="Escribe tu nombre aquí">
      <input type="email" class="input" name="email" placeholder="Tu correo electrónico..." required aria-label="Escribe tu correo electrónico aquí">
      <textarea class="input" name="message" rows="6" placeholder="Tu mensaje..." required aria-label="Escribe tu mensaje aquí"></textarea>
      <button type="submit" class="button float-right">Enviar</button>
    </form>

    <div class="md:flex-1 h-64 md:h-auto mt-6 md:mt-0">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.24723204867!2d-70.60834932574693!3d19.124898950437505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb02fcc58c3afb1%3A0xdeb005867d371e62!2sInstituto%20T%C3%A9cnico%20de%20Estudios%20Superiores%20en%20Medio%20Ambiente%20y%20Recursos%20Naturales!5e1!3m2!1ses-419!2sdo!4v1769790373318!5m2!1ses-419!2sdo"
    width="100%"
    height="100%"
    style="border:0;"
    loading="lazy">
  </iframe>
</div>
  </div>
</section>
