---
layout: default
---

<section class="py-16 px-6 max-w-2xl mx-auto">
<div class="md:flex md:items-end">
<div class="md:text-right md:w-2/5 md:mr-8 mb-6 md:mb-0">
<p class="font-serif text-green text-xl mb-3">{{ page.intro.pretitle }}</p>
<h2 class="text-black text-3xl md:text-4xl leading-tight">{{ page.intro.title }}</h2>
</div>
  
<p class="md:w-3/5 text-lg text-grey-dark mb-1">{{ content | strip_html }}</p>
</div>
<div class="md:flex md:-mx-4 mt-8 pt-8">{% for item in page.items %}
<article class="md:mx-4 flex-1 clearfix mb-6 md:mb-0">
<h3 class="lined uppercase text-black mb-6">{{ item.title }}</h3>
<p class="font-light">{{ item.content }}</p>
</article>
{% endfor %}</div>
</section>
<figure class="mt-8">
<div class="flex transition">{% for image in page.images %} <a class="block w-1/4 flex-no-shrink opacity-75 hover:opacity-100 transition" href="{{ image.url | replace: 'upload', 'upload/q_60' }}" data-fancybox="gallery"> <picture> <source type="image/webp" data-lazy="" data-srcset="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_500' | replace: '.jpg', '.webp' }}" /> <img alt="{{ image.title }}" width="500" height="625" data-lazy="" data-src="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_500' }}" /></picture><noscript>
            <img src="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_500' }}" alt="{{ image.title }}" width="500" height="625">
          </noscript></a> {% endfor %}</div>
<figcaption class="bg-grey-lighter py-8">
<div class="max-w-2xl mx-auto text-center">
<p class="font-light text-lg">{{ page.image_caption }}</p>
</div>
</figcaption>
</figure>
<section class="py-16 px-6 max-w-2xl mx-auto">
<h2 class="text-black lined text-3xl md:text-4xl mb-6 leading-tight" data-action="colorize">{{ page.others.title }}</h2>
<p class="text-xl font-light">{{ page.others.intro }}</p>
<div class="md:flex md:-mx-4 mt-8 py-8">{% for item in page.others.items %}
<article class="md:mx-4 flex-1 clearfix mb-6 md:mb-0">
<h3 class="lined uppercase text-black mb-6">{{ item.title }}</h3>
<p class="font-light">{{ item.content }}</p>
</article>
{% endfor %}</div>
<div class="mt-8 pt-16 border-t border-grey-light">
<h2 class="text-black lined text-3xl md:text-4xl mb-6 leading-tight" data-action="colorize">Precios, reglas y detalles</h2>
<p class="text-xl font-light">En esta secci&oacute;n hay todos los detalles sobre nuestros servicios. Si tienes m&aacute;s preguntas, puedes contactarnos en cualquier momento en la secci&oacute;n de abajo.</p>
<article>
<h3 class="uppercase text-black mb-2 mt-8">Aporte por evento</h3>
<ul>
<li>RD$30,000 para bodas, cumplea&ntilde;os, graduaciones y actividades afines.</li>
<li>RD$10,000. Para reuniones, talleres, seminarios y actividades afines.</li>
<li>RD$1,000 Para sesiones fotográficas</li>
</ul>
<h3 class="uppercase text-black mb-2 mt-8">Los servicios incluyen:</h3>
<ul>
<li>Limpieza del sal&oacute;n, antes y despu&eacute;s de la actividad. (no incluye recogida de basura durante el per&iacute;odo de decoraci&oacute;n).</li>
	<li>Mobiliario: 6 Mesas redondas y 4 rectangulares, 100 sillas pl&aacute;sticas y 6 mesas de picnic.</li>
	<li>Facilitamos 195 sillas Tiffanny a RD$50 la unidad (no incluye los cojines).</li>
	<li>&Aacute;rea verde alrededor del sal&oacute;n disponible para sesiones de fotos.</li>
	<li>Planta el&eacute;ctrica de 12 kilos.</li>
	<li>&Aacute;rea de bar dentro del sal&oacute;n (Con dispensador para agua).</li>
	<li>Limpieza y equipamiento del &aacute;rea de ba&ntilde;os durante la actividad.</li>
	<li>Pantalla para proyecci&oacute;n.</li>
	<li>Facilidad de estacionamiento al aire libre.</li>
	<li>Entrada libre de bebida y buffet</li>
	<li>Seguridad privada.</li>
	<li>Posibilidad de sonido con costo adicional.</li>
	<li>Capacidad m&aacute;xima para 400 personas.</li>
</ul>
<p>&nbsp;</p>
<h3 class="uppercase text-black mb-2 mt-8">Requisitos</h3>
<ul>
<ul>
<li>Velar que el entorno de sal&oacute;n Multiuso, jardines externos e instalaciones del Instituto, no sean alterados por acci&oacute;n de los presentes. Respetar las barreras naturales al momento de colocar carpas y objetos de decoraci&oacute;n <strong>(No hacer montajes en jardineras).</strong></li>
	<li>Abst&eacute;ngase de circular veh&iacute;culos en lugares no autorizados (definido por la seguridad del instituto) y &aacute;reas verdes. No somos responsables de objetos dejados en los vehículos o en espacios abiertos.</li>
	<li>En caso de dejar alquileres y materiales de decoraci&oacute;n en las &aacute;reas, antes o despu&eacute;s de la actividad, el Instituto no se hace responsable de posibles da&ntilde;os o p&eacute;rdidas de los mismos.</li>
	<li>Puede hacer el montaje un d&iacute;a antes de la actividad <strong>(de 4:00 p.m. a 10:00 p.m.), siempre y cuando no haya actividad en el sal&oacute;n. </strong>Puede retirar los alquileres hasta el d&iacute;a despu&eacute;s de la actividad a primera hora.</li>
	<li>Respetar el horario establecido para llevar a cabo la actividad. La hora m&aacute;xima para tener m&uacute;sica es la 10:00 p.m. (de domingo a jueves) y 1:00 a.m. (viernes y s&aacute;bados).</li>
	<li><strong>Bajar a la caseta de basuras de los desechos generados despu&eacute;s del montaje y decoraci&oacute;n del sal&oacute;n</strong>. Dejar el lugar lo m&aacute;s recogido posible inmediatamente despu&eacute;s de la actividad; utilizando los zafacones suministrados para desechos s&oacute;lidos.</li>
	<li>No pintar, clavar o pegar en las paredes o espacios del sal&oacute;n, de hacerlo se perder&aacute; el deposito reembolsable para reparar el da&ntilde;o. Se aceptan las grapas y sogas para colgar.</li>
	<li>Completar el aporte contribuci&oacute;n, para el mantenimiento y gastos de su actividad al menos una semana antes de la fecha a ser realizada. Este aporte incluir&aacute; un depositado reembolsable de RD$5,000.00 para cubrir posibles da&ntilde;os ocasionados al &aacute;rea, si as&iacute; fuese el caso.</li>
	<li>No introducir armas de fuego y/o blancas al Instituto. De poseerla retenida en la puerta de entrada y devuelta finalizada la actividad. Igualmente, el Instituto no se hace responsables de ri&ntilde;as que puedan surgir durante la celebraci&oacute;n de dicha actividad.</li>
</ul>
</ul>
<h3 class="uppercase text-black mb-2 mt-8">Condiciones de pago</h3>
<ul>
	<li>Se requiere el pago del 50% un mes antes de la actividad y el resto a m&aacute;s tardar una semana antes, m&aacute;s el deposito reembolsable en efectivo solicitado en el Acuerdo de Uso.</li>
	<li>Tiene hasta 30 d&iacute;as antes de la actividad para hacer cambio de fecha y cancelar.</li>
	<li>Si cancela despu&eacute;s del tiempo se&ntilde;alado, se pierde un 20% del monto pagado.</li>
</ul>
</article>
</div>
</section>
<p>{% include contact-us.html %}</p>
